body {
    background-color: #e3e4e8;
    padding: 2%;
}

.navbar {
    padding: 1%;
    font-weight: bold;
    background-color: #1b4e6baf;
}

.navbar-brand {
    font-size: 17px;
    padding: 0%;
    color: #ebebeb;
}

h1,
h4,
p {
    color: #236890;
    text-align: center;
    padding: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    text-align: left;
    font-size: 19px;
}

h1,
h4 {
    font-weight: bold;
}

a,
a:hover {
    color: #236890;
}

hr {
    margin-top: 0;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

#portfolioImage {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

#contactSection,
#contactSection>h1,
#contactSection>p {
    background-color: #236890;
    color: #ebebeb;
    text-align: center;
}

.col-md-6 {
    background-color: #ebebeb;
    padding: 2%;
}

.col-md-12 {
    background-color: #ebebeb;
    padding: 2%;
    margin-top: 2%;
}

.skills {
    text-align: center;
}

.skills>img {
    max-height: 60px;
    width: auto;
    height: auto;
    padding: 1%;
}

.icon {
    max-height: 75px;
    width: auto;
    height: auto;
    text-align: center;
    padding: 1%;
}

#profilepic > img {
    max-height: 70px;
    max-width: 70px;
    width: auto;
    height: auto;
}